# ========================
# Node
# ========================
/node_modules/
/.pnp/
/.pnp.js
/coverage/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# ========================
# Python
# ========================
# Entorno virtual
/server/venv/

# Bytecode
**/__pycache__/
/*.py[cod]
*$py.class

# Editor dirs
/.vscode/
/.idea/
/*.sublime-project
/*.sublime-workspace
